{
  "env": {
    "browser": true,
    "node": true,
    "es6": false
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "plugins": [
    "prettier"
  ],
  "rules": {
    "no-undef": "error",
    "no-undefined": "error",
    "no-unused-vars": "error",
    "prettier/prettier": "error"
  }
}